.section {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-lg);
  margin-bottom: var(--espaco-2xl);
}

.section__cabecalho {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-xs);
}

.section__titulo {
  font-size: var(--texto-2xl);
  font-weight: var(--peso-negrito);
}

.section__descricao {
  color: var(--texto-secundario);
}
