.campo-formulario_root {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-xs);
  text-align: left;
}

.campo-formulario_erro {
  font-size: var(--texto-xs);
  font-family: var(--fonte-base);
  color: var(--cor-perigo);
}
